<%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/cart.css">
  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>
    <main>
      <% if (cartProducts.length > 0) { %>
        <ul class="cart__item-list">
          <% cartProducts.forEach(cartProduct => { %>
            <li class="cart__item">
              <h1><%= cartProduct.productId.title %></h1>
              <h2>Quantity: <%= cartProduct.quantity %></h2>
            </li>
          <% }); %>
        </ul>
        <hr>
        <div class="centered">
            <h2>Total: $<%= totalCartProductsSum %></h2>
        </div>
        <div class="centered">
            <button id="checkout-btn" class="btn">CHECKOUT</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                const stripe = Stripe("pk_test_51PLN9DSC4EzKxzozuztnV062pkM4j5dxtLyqvTEnzQfz8sNmJPPgzYaol4XAkTgRI5X5TnYaFG6ZsWrkbQPhxf5y00VrQH5I8w");
                const checkoutBtn = document.getElementById("checkout-btn");

                checkoutBtn.addEventListener("click", function() {
                    stripe.redirectToCheckout({
                        sessionId: "<%= sessionId %>"
                    });
                });
            </script>
        </div>
      <% } else { %>
        <h1>No Products in Checkout!</h1>
      <% }%>
    </main>
<%- include("../includes/end.ejs") %>
